
@font-face {
  font-family: "Assistant";
  src: url("/assistant-latin-400-normal.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Assistant";
  src: url("/assistant-latin-600-normal.ttf");
  font-weight: 600;
  font-style: normal;
}

body {
  align-items: center;
  background-image: url("/light_bg_static.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Assistant', Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
}

h1 {
  color: #8659EF;
  margin: 0;
  font-weight: 600;
}

.purple-highlight {
  font-weight: 600;
  color: #8659EF;
}

p {
  color: #464958;
  font-size: 18px;
  margin: 0;
}

.header-container {
  align-items: center;
  background-color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  width: 100%;
  user-select: none;
}

.header-logo {
  margin-right: 10px;
  height: 35px;
  width: 35px;
}

.row {
  align-items: center;
  display: flex;
}

.iframe-container {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.iframe-header {
  /* align-items: center; */
  flex-direction: column;
  display: flex;
  padding: 10px 10px;
  gap: 10px;
  width: 640px;
}